@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Recommend music to me</h1>
    <p class="lead">This is a simple MVC application where you can get Spotify to recommend music to you based on tracks you choose as 'seeds'.</p>
    <p><a href=@ViewBag.AuthUri class="btn btn-primary btn-lg">Lets Begin</a></p>
</div>
